<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>

  <%= link_to "Show", @friend,class:"btn btn-outline-success" %>
  <%= button_to "Delete", @friend, method: :delete,data: { confirm:'Are you sure?'},class:"btn btn-outline-danger btn-sm"%>
</div>
